<html>
<head>
</head>
<body>

<h1 style="width: 100%; text-align: center;">Examples of Admin REST API</h1>
<hr/>

<div>
    <a href="/adminApi?api=realmsList">Realms list</a>
    <hr>
    <a href="/adminApi?api=usersList">Users list for CAMPAIGN_REALM</a>
    <br><br>
    <a href="/adminApi?api=createTestUser">Create user login=test_user, password=test_user</a>
    <br><br>
    <a href="/adminApi?api=deleteTestUser">Delete user login=test_user</a>
    <br><br>
    <a href="/adminApi?api=getUserById">Get user login=test_user by id</a>
    <br><br>
    <a href="/adminApi?api=updateTestUser">Update user login=test_user</a>
    <hr>
    <a href="/adminApi?api=setTestUserCustomerId">Set a custom attribute customerId=123 for user login=test_user</a>
    <br><br>
    <a href="/adminApi?api=removeTestUserCustomerId">Remove a custom attribute customerId for user login=test_user </a>
    <hr>
    <a href="/adminApi?api=createRole">Create Role TEST_ROLE</a>
    <br><br>
    <a href="/adminApi?api=deleteRole">Delete TEST_ROLE</a>
    <br><br>
    <a href="/adminApi?api=addTestRoleToTestUser">Add TEST_ROLE to a user login=test_user</a>
    <br><br>
    <a href="/adminApi?api=removeTestRoleFromTestUser">Remove TEST_ROLE from a user login=test_user</a>
    <hr>
    <a href="/index.html">Back to login page</a>
</div>
<div class="content">
    <h2>Result</h2>
    <pre>{{result}}</pre>
</div>

</body>
</html>
